.container {
    min-height: 573px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
    background-color: #f4f4f4;
}

.contentWrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    align-items: center;
}

.leftSection {
    width: 540px;
    height: 429px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companyImage {
    width: 540px;
    height: 478.8;
    object-fit: cover;
}

.rightSection {
    width: 550px;
    height: 535.27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionTitle {
    font-size: 42px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 25px;
    text-align: left;
}

.sectionContent {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 30px;
}

.applyButton {
    background-color: #ae2f2f;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 300px;
    margin-top: 20px;
}

.applyButton:hover {
    background-color: #ae2f2fdc;
    transform: translateY(-2px);
}

.applyText {
    font-size: 16px;
    color: white;
    font-weight: 500;
}


/* Responsive Styles */
@media (max-width: 1200px) {
    .contentWrapper {
        flex-direction: column;
        gap: 40px;
    }
    
    .leftSection, .rightSection {
        width: 100%;
        height: auto;
    }
    
    .rightSection {
        order: 2;
    }
    
    .leftSection {
        order: 1;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 40px 15px;
        min-height: auto;
    }
    
    .contentWrapper {
        gap: 30px;
    }
    
    .sectionTitle {
        font-size: 26px;
        margin-bottom: 20px;
    }
    
    .subHeading {
        font-size: 18px;
    }

    .companyImage {
        width: 100%;
        height: auto;
    }
}